body{
    background-color: var(--blanco-grisaceso);

}

.pass-form{
    padding: 0 12px;
    font-size: 1.6rem;
}

.form-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 6px;
    box-shadow: 3px 3px 6px;
    border-radius: 3px;
    background-color: var(--blanco-grisaceso);
}

.form-label h1{
    font-size: 2rem;
    color: var(--azul-intenso);
    margin-bottom: 20px;
}

.form-label label{
    width: 100%;
    position: relative;
}

.form-label label span{
    font-size: 1.4rem;
    padding: 0 3px;
}

.form-label label input{
    width: 100%;
    height: 30px;
    padding-left: 3px;
    border-radius: 3px;
    /* margin-top: 2px; */
    outline: 1px var(--azul-intenso) solid;
    border: none;
}

.botones{
    display: flex;
    gap: 20px;
}

.pass-form .botones input{
    padding: 6px 16px;
    background-color: var(--vende-suave);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 4px;
    transition: .3s;
    font-size: 1.7rem;
}

.pass-form .botones input:hover{
    background-color: var(--verde-intenso);
}
.pass-form .botones input:active{
    background-color: var(--verde-intenso);
    box-shadow: none;
}

#mensaje-pass{
    color: rgb(148, 36, 36);
    font-weight: 400;
}