body{
    background-color: rgb(224, 210, 210);
}

.container-data{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 12px;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    justify-content: center;
    place-items: center;
}

.loko ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    
    font-size: 1.5rem;
}

.loko ul li{
    flex-grow: 3;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 3px 3px 6px;
    background-color: rgb(224, 222, 222);
}

.loko form{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.loko form label{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.loko form label input{
    border: solid 1px blue;
    min-width: 300px;
    max-width: 310px;
}
.boton{
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    transition: .3s;
}
.boton:active{
    padding: 3px 6px;
    box-shadow: none;
}






