body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(34, 105, 114, 0.936);
}


.cuerpo-admi{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.cuerpo-admi nav{
    background: rgba(0, 0, 0, 0.936);
    width: 90%;
    /*height: 400px;*/
    min-width: 320px;
    /*max-width: 600px;*/
    border-radius: 3px;
    padding: 20px 10px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuerpo-admi nav ul{
    /*border-left: 4px solid white;*/
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.cuerpo-admi nav ul li{
    height: 140px;
    width: 100%;
    min-width: 300px;
    background-color: white;
    border-radius: 3px;
    list-style: none;
    color: black;
    font-weight: 1100px;
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: 300ms;
    padding-left: 10px;
}

.cuerpo-admi nav ul li:hover{
    transform: translate(30px);
    color: blue;
}

