:root{
    --azul-intenso: #1818a6;
    --azul-claro: #aaaaff;
    --verde-intenso: #00e300;
    --vende-suave: #c6ffc6;
    --blanco-grisaceso: #dddada;
    --blanco: white;
    --gris-suave: #faf9f9;
    --negro: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
/* .boton{
    width: 80px;
    height: 50px;
    top: 0;
    right: 0;
    border-radius: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
} */