

    
    @font-face {
        font-family: Santiago;
        src: url();
    }
   body{
<<<<<<< HEAD
       background-color: rgb(117, 164, 182);
   }
    h3{
        font-family: Santiago;
        color: rgb(13, 13, 14);
    }
    h4{
        color: rgb(24, 22, 24);
    }
    h5{
        color: rgb(21, 22, 21);
=======
       background-color: rgb(155, 149, 233);
   }
    h3{
        font-family: Santiago;
        color: rgb(53, 23, 226);
    }
    h4{
        color: rgb(221, 218, 221);
    }
    h5{
        color: rgb(223, 224, 223);
>>>>>>> a2173066b076b018f6d4f399458b9fd9c2b8bbf8
    }

    article:hover{
        transform: scale(1.01);
    }
    article{
    
        background: rgba(12, 12, 12, 0.9);
        margin-bottom: 20px;
        border-radius: 10px;
<<<<<<< HEAD
        width: 100%;
        min-width: 320px;
        max-width: 650px;        
    }
    aside{
        background : rgba(156, 154, 154, 0.7) ;
        border-radius: 10px;
        padding: 20px;
       
=======
        width: 650px;
        
    }
    aside{
        background : rgba(50, 51, 51, 0.7) ;
        border-radius: 10px;
        padding: 20px;
        height: 1200px;
>>>>>>> a2173066b076b018f6d4f399458b9fd9c2b8bbf8
         
    
    }
   
<<<<<<< HEAD
=======
    article div{
        display: flex;
        gap: 20px;
        margin: 14px;
    }
>>>>>>> a2173066b076b018f6d4f399458b9fd9c2b8bbf8
   
    footer h6{
        color: rgb(253, 253, 253);
    }
    .Pie_pagina{
        height: 130px;
<<<<<<< HEAD
        width: 100%;
=======
>>>>>>> a2173066b076b018f6d4f399458b9fd9c2b8bbf8
        background-color: black;
        text-align: center;
        padding-top: 10px;
        border-radius: 20px;
    }
    .boton{
        width: 80px;
        height: 50px;
        top: 0;
        right: 0;
        border-radius: 3px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    
        
    
   
       
    
