.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 12px;
    background-color: rgb(110, 143, 148);
    padding-bottom: 20px;
}
.pio{
    width: 100%;
    min-width: 310px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.information{
    width: 100%;
    padding: 6px 12px;
    font-size: 1.5rem;
    text-align: justify;
    border: solid 1px blue;
    background-color: rgb(224, 222, 222);
    
}
.information h3{
    font-size: 1.8rem;
    margin-bottom: 12px;

}

.boton{
    font-size: 1.2rem;
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 6px;
    position: fixed;
    right: 10px;
    top: 10px;
    transition: .3s;
}
.boton:active{
    padding: 3px 6px;
    box-shadow: none;
}

.Pie_pagina{
    color: white;
    /*height: 50px;*/
    background-color: black;
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
}

footer.Pie_pagina > div {
    font-size: 1.2rem;
    flex-grow: 2;
    background: #3a3939fa;
    border-radius: 3px;
    padding: 3px 6px;
}

footer.Pie_pagina div.derechos_autor img {
    width: 100%;
    max-width: 200px;
}

footer.Pie_pagina .proyect_name {
    width: 100%;
}