table{
    background: white;
    text-align: left;
    border-collapse: collapse;
  }
  
  tr, th{
    padding: 5px 10px;
  }
  
  tr, td{
    transition: 300ms;
    font-size: 1.4rem;
    height: 30px;
    padding: 0 6px;
  }
  
  main{
    padding: 1em 2em;
  }
  
  table thead{
    background:  #523ada;
    color: rgb(250, 243, 243);
    font-size: 1.4rem;
    border-bottom: black solid 2px;
  }
  
  tr:nth-child(even){
    background-color: #ddd;
  }
  
  tr:hover td{
    background-color: #b9b9bb;
    color: rgb(27, 26, 26);
  }
  
  tr td:hover{
    background: #476ba9;
    color: white;
  }
  
  @media (max-width: 35em) {
      table{
        width: 100%;
        font-size: .9em;
  
      }
  
      table tr{
          display: flex;
          flex-direction: column;
          border: grey solid 1px;
          margin-bottom: 1em;
      }
  
      table td[data-titulo]{
        display: flex;
      }
  
      table td[data-titulo]::before{
          content: attr( data-titulo );
          width: 40%;
          min-width: 90px;
          color: silver;
          font-weight: bold;
      }
  
      table td, th{
        border: none;
      }
  
      table thead{
        background: white;
        display: none;
      }
  
  }