*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
 }
body{
    background: url('../IMG/fondo_colegio-2.jpg');  
    background-attachment: fixed; 
    margin: 0px;
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px; 
    background: linear-gradient(to right, blue, white, blue);
}

/* BOTON DE MI PERFIL */

ul{
    list-style: none;
}

#menu > ul{
    margin: 0;
    padding: 6px;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: chartreuse;
    border-radius: 3px;
    gap: 6px;
}

#menu h3 a{
    color: rgb(0, 0, 0);
}

#menu #item #icon_perfil{
    background-color: rgb(216, 216, 221);    
    color: rgb(34, 31, 84);
    padding: 12px 22px; 
    display: block;
    font-size: 25px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    right: 300px;
}

#menu #item > #icon_perfil:hover{
    background: white;
    transition: 1s;
    color: rgb(20, 216, 95);
    
}

#menu #item:hover #despliegue{
    display: block;
    transition: 6s ease all;
}

.despliegue{
    width: 300px;
    display: none;
    position: absolute;
    min-width: 220px;
    /* margin-right: 20px; */
}

.despliegue .opciones_mi-perfil{
    position: relative;
    right: 245px;
    top: 12px;
    height: 500px;
    background: rgb(216, 216, 216); 
    border-radius: 3px; 
    padding: 30px 6px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.opciones_mi-perfil .perfil img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: blueviolet;
}

.perfil span{
    font-size: 20px;
    font-weight: 600;
}

.opciones_mi-perfil .opciones{
    width: 100%;    
    margin-top: 20px;
}

.opciones_mi-perfil .opciones li{
    margin-top: 10px;
}

.opciones_mi-perfil .opciones li a{
    text-decoration: none;
    color: blue;
    font-weight: 600;
}
