*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: rgb(211, 0, 0);
}

/* ESTILOS DE LA CABECERA */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: tomato;
    margin: 0 6px;
}

/* ESTILOS DE LA NAVEGACIÓN */

    .menu ul{
        list-style: none;
        margin: 0;
        padding: 0;

        width: 400px;
    }

    .menu .item{
        float: left;
    }

    .menu .item a{
        background-color: blue;    
        color: white;
        padding: 12px 22px;
        display: block;
        font-family: arial;
        font-size: 16px;
        text-decoration: none;
    }

    .menu .despliegue{
        display: none;
        position: absolute;
        min-width: 220px;  
    }

    .menu .item a:hover{
        background: white;
        transition: 1s;
        color: blue;
        
    }

    .menu .item:hover .despliegue{
        display: block;
        transition: 6s ease all;
    }



    .SIGC{
        display: flex;
        align-items: center;
        gap: 20px;
    }

/* CONTENEDOR  PRINCIPAL*/

.cont_funciones{
    width: 80%;
    margin: 6px auto;
    padding: 10px;
    background: white;
    border-radius: 3px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 6px;
}

.cont_funciones .card{
    width: 400px;
    height: 100%;
    border: solid 1px black;

    display: grid;
    grid-template-rows: 1.5fr 3fr;
    
}

.card .option{
    background: rgb(121, 9, 9);
    text-align: center;
}

.option i{
    font-size: 50px;
}
