*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background: #050505;
  background: -webkit-linear-gradient(to right, #2ba0d2, #22366e);
  background: linear-gradient(to right, #2ba0d2, #22366e);
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-weight: 700;
}

form{
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 0 6px 0 rgba(225, 225, 225, 0.8);
  border-radius:  10px;
}

.form{
  width: 100%;
  margin: auto;
}

form .grupo{
  position: relative;
  margin: 45px;
}

div input{
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid grey;
}

div input:focus{
  outline: none;
  color: #5e5d5d;
}

label{
  color: grey;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

div input:focus~label,
div input:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2193f3;
}

.barra{
  position: relative;
  display: block;
  width: 100%;
}

.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #2ba0d2, #22366e);
  transition: 0.4s ease width;
  left: 0;
}

div input:focus~.barra::before{
  width: 107%;
}

/* Botón */

a input{
  background: #050505;
  background: -webkit-linear-gradient(to right, #2ba0d2, #22366e);
  background: linear-gradient(to right, #2ba0d2, #22366e);
  border: none;
  height: 40px;
  display: block;
  color: black;
  margin: 10px auto;
  font-size: 16px;
  width: 80%;
  cursor: pointer;
  transition: 300ms;
}

a input:hover,
a input:focus{
  outline: none;
  width: 83%;
  font-size: 18px;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
    form{
      width: 60%;
    }
}
