*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body{

}

.nav{
  width: 100%;
  background: none;
  overflow: auto;
  display: inline-block;
}

.nav .escudo{
  width: 300px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.nav .escudo img{
  margin-left:  50px;
}

.nav a{
  top: -70px;

}

.nav a, label{

  position: relative;
  float: left;
  text-align:center;
  padding: 16px;
  margin-left: 18px;
  text-decoration: none;
  color: black;
  margin-top: 0px;
  left: 70%;
  transition: 300ms;
}

.nav label{
  font-family: monospace;
  font-size: 27px;
  letter-spacing: 2px;
  margin-top: 4px;
  left: 10%;
}

.nav a:hover{
  font-size: 15px;
}

section{
  width: 80%;
  margin: auto;
  margin-top: 20PX;
  background: #22366e;
  color: white;
  text-align: center;

}

section .opciones{
  width: 80%;
  height: 300px;
  margin: auto;
}

section .opciones a{
  margin: none;
  left: 18%;
  top: 10px;
  display: inline-block;
  color: white;
}

section .opciones a img{
  width: 150px;
  height: 150px;
  background: white;
  margin: 20px;
  margin-left: 20px;
  border-radius: 10px;
  transition: 300ms;
}

section .opciones a img:hover{
filter: blur(1.2px);
-webkit-transform:scale(1);transform:scale(1.1);
}
/*
section .opción img{
  width: 150px;
  height: 150px;
  background: white;
  margin: 20px;
  border-radius: 10px;
  transition: 300ms;
}

section .opción img:hover{
  filter: blur(1.2px);
  -webkit-transform:scale(1);transform:scale(1.1);
}
*/

table, td, th{
    border-style: solid;
    border-width: 1px;
}
table caption{
    font-size: 120%;
    font-weight: bold;
}
caption{
    color: black;
}
td, th{
    border-color: silver;
}
tr:hover{
    color: #333;
    background-color: #F2F2F2;
}
th{
    background-color: silver;
}
td{
    color: gray;
}



/*ESTILOS DOCUMENTO DE VISUALIZACIÓN*/

.container-notas{
  color: black;
  background: none;
  width: 80%;
  border: black 1px solid;
}
